name: Update ActuQuiz
on:
  schedule:
    - cron: '30 18 * * *'
  workflow_dispatch:
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: |
        pip install google-api-python-client google-auth-httplib2 google-auth-oauthlib google-generativeai beautifulsoup4
    - name: Run process
      env:
        GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
      run: python process.py
    - name: Commit & Push
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add .
        git diff --staged --quiet || git commit -m "Update quizzes $(date)"
        git push
