name: Update ActuQuiz

on:
  schedule:
    - cron: '0 8 * * *' # Se lance tous les jours à 8h (UTC)
  workflow_dispatch: # Te permet de lancer le script à la main (bouton Run)

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install google-genai requests

      - name: Run script
        # C'EST ICI QUE TOUT SE JOUE :
        # On injecte les secrets GitHub dans les variables d'environnement de Python
        env:
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
          EMAIL_USER: ${{ secrets.EMAIL_USER }}
          EMAIL_PASS: ${{ secrets.EMAIL_PASS }}
        run: python process.py

      - name: Commit and push changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add .
          # On commit seulement s'il y a des nouveaux fichiers (sinon ça crash)
          git commit -m "Nouveau quiz ajouté le $(date)" || echo "Rien à committer"
          git push
